quests/15_manage_emailboxs.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        32
      ],
      "id": "59519287-341e-48dc-b71f-bad2ed5d85b1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -960,
        32
      ],
      "id": "69ce8556-c328-4b1b-8ab9-1f09da1c474a",
      "name": "Get many messages",
      "webhookId": "daf1b99f-7676-4623-b412-365cafa3e06f",
      "credentials": {
        "gmailOAuth2": {
          "id": "CRk2IGmrosIZ9LzA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Social",
              "description": "소셜 미디어, 뉴스레터"
            },
            {
              "category": "Sales",
              "description": "영업 문의, 고객 상담, 제안서 요청 "
            },
            {
              "category": "Misc",
              "description": "기타 분류되지 않은 모든 메일"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -768,
        32
      ],
      "id": "923908de-baee-4d98-abca-d5e0a040307f",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -736,
        240
      ],
      "id": "ca705f74-4391-486a-8e2b-1562fbeca229",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "5w0VZ11U4FwNNein",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_4183100149597544616"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -320,
        -112
      ],
      "id": "6ef14ffb-8de6-407a-acce-a5c10aada987",
      "name": "Add label to message",
      "webhookId": "0cb63219-9802-49ca-9f33-2d094a4825b3",
      "credentials": {
        "gmailOAuth2": {
          "id": "CRk2IGmrosIZ9LzA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_1125140118887144098"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -304,
        176
      ],
      "id": "582666f1-1006-4707-956e-1e3c5a4486a6",
      "name": "Add label to message1",
      "webhookId": "d144fe82-23ff-4f0d-96b6-3eb1d691a918",
      "credentials": {
        "gmailOAuth2": {
          "id": "CRk2IGmrosIZ9LzA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_776815714004468831"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -304,
        432
      ],
      "id": "8a329ac7-ab01-4d43-b272-5e6d04e0009c",
      "name": "Add label to message2",
      "webhookId": "3ae25681-fb43-4150-ba4e-2cfe703897f7",
      "credentials": {
        "gmailOAuth2": {
          "id": "CRk2IGmrosIZ9LzA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -96,
        176
      ],
      "id": "71e7c36f-7e4f-4227-b0b9-177d90fa7acc",
      "name": "Remove label from message1",
      "webhookId": "759191f1-198b-438c-a9fd-694c2d60ebd6",
      "credentials": {
        "gmailOAuth2": {
          "id": "CRk2IGmrosIZ9LzA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -80,
        432
      ],
      "id": "21c78b7b-db88-4ad3-8f47-332af9335cd0",
      "name": "Remove label from message2",
      "webhookId": "759191f1-198b-438c-a9fd-694c2d60ebd6",
      "credentials": {
        "gmailOAuth2": {
          "id": "CRk2IGmrosIZ9LzA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Add label to message').item.json.id }}",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        224,
        -112
      ],
      "id": "d4affa7e-f5dd-4fe9-a917-4c196b114c3a",
      "name": "Reply to a message",
      "webhookId": "8cc6b1b5-0513-42cf-aacf-091102e2f1e5",
      "credentials": {
        "gmailOAuth2": {
          "id": "CRk2IGmrosIZ9LzA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=아래 첨부한 내용에 대한 적절한 답변메일 작성 부탁해\n{{ $('Text Classifier').item.json.snippet }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -112,
        -112
      ],
      "id": "10c7c9a5-44ea-4ff2-88cb-0743127599fd",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "5w0VZ11U4FwNNein",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        416,
        -112
      ],
      "id": "e0422c4e-f548-4ab6-b474-2a768503e265",
      "name": "Delete a message",
      "webhookId": "c2b168bd-ce49-4905-b165-96a7e6e53c18",
      "credentials": {
        "gmailOAuth2": {
          "id": "CRk2IGmrosIZ9LzA",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message1": {
      "main": [
        [
          {
            "node": "Remove label from message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message2": {
      "main": [
        [
          {
            "node": "Remove label from message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        [
          {
            "node": "Delete a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6471f15c-298d-4595-9853-006a71ed114b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2c14348bc2fa57a8d6f45baad49f9b3d940fb3e05c3d20fa39db4fefaedc9d37"
  },
  "id": "GcpuF4Mt1Ka39lEc",
  "tags": []
}